<?xml version="1.0" encoding="UTF-8"?>
<suite name="My Demo Project">
	<test name="Testing on Chrome">
	 <parameter name="browser" value="chrome"/>
		<classes>
			<class name="runner.TestRunnerCucumber">
			</class>
		</classes>
	</test>
	<test name="Testing on Firefox">
	 <parameter name="browser" value="firefox"/>
		<classes>
			<class name="runner.TestRunnerCucumber">
			</class>
		</classes>
	</test>
</suite>